<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.scut.luluteam.ubclibrary">

    <application>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="94484e164c3f1d56453000cc2fb142a5" />

        <service
            android:name=".collection.view.impl.GeoFenceService"
            android:enabled="true"
            android:exported="false" />
        <service android:name="com.amap.api.location.APSService" />

        <receiver
            android:name=".collection.view.impl.GeoFenceService$GeoFenceReceiver"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".collection.view.impl.BehaviorInfoService$DeviceInfoReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".collection.view.impl.BehaviorInfoService"
            android:enabled="true"
            android:exported="true"></service>


    </application>

</manifest>